bin/
obj/
*.sln.docstates.suo
*.suo
Spec/MulticastOption Class (System.Net.Sockets).mht
Spec/OpenSound Control Spec Examples _ opensoundcontrol.org.mht
Spec/Parse (Old).txt
Spec/The Open Sound Control 1.0 Specification _ opensoundcontrol.org.mht
Spec/Nime09OSCfinal.pdf
